<div class="col-sm-2 sidebar">
    @Html.Sitecore().Placeholder("left")
</div>
<div class="col-sm-8">
    @Html.Sitecore().Placeholder("middle")
</div>
<div class="col-sm-2 sidebar">
    @Html.Sitecore().Placeholder("right")
</div>
