web/Website/bin/*
web/Website/Debug/*
web/Website/sitecore/*
!web/Website/sitecore/shell/override/*
web/Data/indexes/*
web/Data/packages/*
web/Data/serialization/*
web/Data/logs/*
web/Data/debug/*
web/Data/diagnostics/*
web/Data/viewstate/*
*.suo
*.user
src/Pew.*/bin/*
src/Pew.*/obj/*
src/Pew.*/Debug/*
tests/Pew.*.*/bin/*
tests/Pew.*/obj/*
web/Website/App_Config/ConnectionStrings.config
web/Website/Web.config
web/Website/obj/*
web/Website/App_Config/ConnectionStrings.config
config/env/local.properties
config/env/local.properties
config/env/local.properties
web/Data/logs/*
web/Website/temp/*
web/Data/license.xml
web/Data/viewstate/*
src/Pew.Tds.Core/Debug/*
src/Pew.Tds.Core/IconCache/*
src/Pew.Tds.Core/BuiltFiles_Debug.txt
src/Pew.Tds.Master/BuiltFiles_Debug.txt
src/Pew.Tds.Master/Debug/*
src/Pew.Tds.Master/IconCache/*
web/Data/diagnostics/counters.*
web/Data/serialization/*
web/Website/_DEV/*
web/Website/App_Config/ConnectionStrings.config
web/Website/Web.config
config/env/local.properties
web/Website/App_Config/ConnectionStrings.config
web/Website/Web.config
src/Pew.Tds.Master/T4RenderCache/*
src/Pew.Tds.Core/BuiltFiles_DebugNoTDS.txt
src/Pew.Tds.Core/bin/*
src/Pew.Tds.Core/BuiltFiles_Release.txt
src/Pew.Tds.Core/Release/*
src/Pew.Tds.Master/bin/*
src/Pew.Tds.Master/Release/*
src/Pew.Tds.Master/BuiltFiles_DebugNoTDS.txt
src/Pew.Tds.Master/BuiltFiles_Release.txt
temp/*
web/Website/App_Data/MediaCache/*
Pew.sln.DotSettings.user.orig
_NCrunch_Pew/Pew.crunchsolution.cache
Pew.v2.ncrunchsolution
src/Pew.Library/Pew.Library.v2.ncrunchproject
tests/Pew.Library.Tests/Pew.Library.Tests.v2.ncrunchproject
tests/Pew.Website.Tests/Pew.Website.Tests.v2.ncrunchproject
web/Website/Pew.Website.v2.ncrunchproject
web/Website/App_Config/Include/Sitecore.ContentSearch.Solr.Indexes.config
Pew.sln.ide/
web/Website/App_Config/Include/CustomSitecore.config
TestResults/*
Pew.Import.Tests/bin/*
packages/repositories.config
Pew.Import.Tests/obj/*
*.ncrunchproject
*.ncrunchsolution
web/Website/upload/*

web/Website/Pew.Website.ncrunchproject
*.cs.temp
Pew.sln.DotSettings.user
_NCrunch_Pew/StoredText/*

packages/*
src/Pew.Library/Debug/*
Pew.sln.DotSettings.user
src/Pew.Tds.Core/BuiltFiles_*.txt
src/Pew.Tds.Master/BuiltFiles_*.txt
src/Pew.Library/Pew.Library.csproj.user
web/Website/App_Config/Include/Sitecore.ContentSearch.Solr.Indexes.config
web/Website/App_Config/AppSettings.config
Pew_Taxonomy.csv
us.stackdump

_UpgradeReport_Files/*
UpgradeLog.*
*NewBuiltFiles_Debug.txt
web/Website/Debug
web/Website/Debug/*
src/Pew.Library/NewBuiltFiles_Debug.txt
web/Website/sitecore modules/Web/Import/TestQuery.aspx*
web/Dam Images.rar
web/DAM/*
web/Website/deletechildren.*
web/Website/App_Config/Include/CacheSettings.config
web/Website/App_Config/Prefetch/Common.config
web/Website/App_Config/Prefetch/Core.config
web/Website/App_Config/Prefetch/Master.config
web/Website/App_Config/Prefetch/Webdb.config
/src/Pew.Tds.Master/Pew.Tds.Master_Debug.xml
src/Pew.Import/Pew.Import.v2.ncrunchproject
*.ncrunchproject
web/Website/App_Config/IISUrlRewrite.config

web/Website/nCrunchTemp_*
web/Website/App_Config/Include/ProdFEs.config
web/Website/App_Config/IISUrlRewrite.config
site/Databases/*
SitecoreBase/Data
SitecoreBase/Sitecore.Base.Site/App_Browsers
SitecoreBase/Sitecore.Base.Site/sitecore
SitecoreBase/Sitecore.Base.Site/bin
SitecoreBase/Sitecore.Base.Site/sitecore_files/Web.config
SitecoreBase/Sitecore.Base.Site/temp/readme.txt
SitecoreBase/Sitecore.Base.Site/upload/readme.txt
SitecoreBase/Sitecore.Base.Site/Views/Shared/ExperienceExplorerView.cshtml
SitecoreBase/Sitecore.Base.Site/webedit.css
SitecoreBase/Sitecore.Base.Site/xsl/sample rendering.xslt
SitecoreBase/Sitecore.Base.Site/xsl/system/WebEdit/Hidden Rendering.xslt
SitecoreBase/Sitecore.Base.Site/Web.config
SitecoreBase/Website/Global.asax
SitecoreBase/Sitecore.Base.Site/Default.aspx
SitecoreBase/Sitecore.Base.Site/default.css
SitecoreBase/Sitecore.Base.Site/default.htm.sitedown
SitecoreBase/Sitecore.Base.Site/default.js
SitecoreBase/Sitecore.Base.Items/bin
SitecoreBase/Sitecore.Base.Items/obj
SitecoreBase/Sitecore.Base.Site/layouts
SitecoreBase/Sitecore.Base.Site/sitecore modules/Web/ExperienceExplorer
SitecoreBase/Sitecore.Base.Site/obj
SitecoreBase/Sitecore.Base.Items/Package_Debug
SitecoreBase/Sitecore.Base.Site/App_Config
SitecoreBase/Sitecore.Base.Site/Areas/Social/Views
